.changelog
  h2
    border none
    font-size 2rem
    font-weight bold

  .content__default

    ul:not(.social-share-list)
      margin-left 1rem

  .sidebar .sidebar-sub-headers
    padding-left 2.5rem
    position relative
    &:before
      content ""
      position absolute
      width 2px
      height 100%
      background: #eee
    
    li a
      padding-left 1rem