buttonStyle()
  color #fff
  background #545e66
  border 0
  border-radius 0.2rem
  box-shadow 0 4px $textColor
  cursor pointer
  transition transform 0.2s, box-shadow 0.2s

  &:active
    transform translateY(4px)
    box-shadow none