$main = #292929
$text = #ededed
$ease = rgba(255, 255, 255, 0.08)

.is-dark
  color $text
  background darken($main, 5)

  .homepage
    section:first-child
      background-image url('/assets/home-bg-dark.jpg')
      background-color transparent

  .navbar
    background $main

    .links
      .dropdown-title
        color $text

      .nav
        &-dropdown
          background lighten($main, 5)
        
        &-link
          color $text

    .site-name
      color $text

    .search-box input
      background-color $ease
      color $textColorDark

  .sidebar
    background darken($main, 3)
    border-color transparent

    &-link,
    .mobile-dropdown-title
      color $text
  
  .custom-block
    &.tip
      background $ease
    
    &.warning
      color gold

      .custom-block-title
        color yellow
  
  table
    th,
    td
      border-color lighten($main, 5)

    tr:nth-child(2n)
      background $ease

  h2
    border-color lighten($main, 10)

  code
    color $text
    background-color $ease
  
  .page-nav .inner
    border-color lighten($main, 10)
  
  .page-edit
    .last-updated
      .prefix
        color $text
      .time
        color darken($text, 20%)

  .sk-ww-google-play-reviews-review-text
    color #aaa !important
  
  .sk-ww-google-play-reviews-content a
    color $text !important