main
  overflow-x hidden

img[alt="win7simu"]
  width: 45px
  height: 45px
  vertical-align: bottom

.banner
  margin 1rem 0
  width 100%

.social
  display flex
  align-items center
  justify-content flex-end
  margin-top -1rem

  &-share
    &:hover .social-share-btn
      color $accentColor

    .social-share-btn
      width 40px
      height 40px
      font-size 24px

.access
  margin 2rem 0
  text-align center

  a
    display inline-block
    max-width 60%

.adsbygoogle[data-ad-status="filled"]
  margin 3rem 0
  text-align center
