main
  overflow-x hidden

img[alt="win7simu"]
  width 45px
  height 45px
  vertical-align bottom

.banner
  margin 1rem 0
  width 100%

.access
  margin 2rem 0
  text-align center

  a
    display inline-block
    margin 0.2rem

.embed-responsive
  iframe
    display block
    margin auto
    max-width 100%

.contains-task-list
  list-style none
  padding 0

  input
    margin 0 8px 0 0
    transform scale(1.2)

.adsbygoogle[data-ad-status="filled"]
  margin 3rem 0
  text-align center

@media (max-width: 719px)
  .nav-item > .dropdown-wrapper .nav-dropdown
    box-shadow: none
