/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #1bb89b
$bgColor = #eee
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$social-share-plain-color = #545e66

$bgColorDark = #292929
$textColorDark = #eaeaea