// vuepress preferred breakpoints
@media (max-width: 959px)
@media (max-width: 719px)
@media (max-width: 419px)

// mobile-first counterparts
@media (min-width: 420px)
@media (min-width: 720px)
@media (min-width: 960px)
