@media (max-width: 959px)
  .navbar
    .search-box > input:not(.focused)
      background-color: transparent

@media (max-width: 719px)
  .nav-item > .dropdown-wrapper .nav-dropdown
    box-shadow: none

@media (max-width: 419px)
  .hero .description
    padding: 0 4rem