/**
 * Global custom styling for the entire site
 */

/**
 * https://github.com/rotorz/markdown-it-block-embed
 * -------------------------------------------------------------------------- */

.block-embed iframe {
  max-width: 100%;
  height: 100%;
  aspect-ratio: 3/2;
}

/**
 * https://floating-vue.starpad.dev/guide/css
 * -------------------------------------------------------------------------- */

.v-popper--theme-dropdown .v-popper__inner {
  border-color: var(--vp-c-divider);
}

.v-popper--theme-dropdown .v-popper__arrow-outer {
  border-color: var(--vp-c-divider);
}

.v-popper--theme-dropdown .v-popper__arrow-inner {
  border-color: var(--vp-c-bg-soft);
}

.v-popper--theme-dropdown .v-popper__inner > div {
  display: flex;
  padding: 0.5rem;
  background: var(--vp-c-bg-soft);
}

.v-popper--theme-dropdown [data-popper-shown] {
  color: var(--vp-c-brand-2);
}

/**
 * https://github.com/francoischalifour/medium-zoom#the-zoomed-image-is-not-visible
 * -------------------------------------------------------------------------- */

.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: var(--vp-z-index-backdrop);
}

/**
 * Workaround for CLS issue with external images, in combination with md-image.ts
 * -------------------------------------------------------------------------- */
.external-image img {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: contain;
}

/**
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/components/vp-doc.css
 * -------------------------------------------------------------------------- */

.vp-doc h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .vp-doc h1 {
    font-size: 2.75rem;
    line-height: 1.25;
    margin-bottom: 3rem;
  }
}
